*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(fitness.jpg);
    background-position: center;
    background-size: cover;
    height: 200vh;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color: white;
    font-size: 20px;
    padding-left: 0px;
    float: left;
    font-family: cursive;
    padding-top: 30px;
    cursor: pointer;

}
.logo a{
    text-decoration: none;
    color: #fff;
  }
  .logo a:hover{
      color: #00bcd4;
  
  }

.manu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 32px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: #07c7e0;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;

}
.content .par{
    margin-top: 20px;
    padding-left: 50px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    text-align: center;
}
.content h1{
    font-family: 'Times New Roman';
    font-size: 70px;
    text-align: center;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
    color: #07c7e0;
}
#more{
    display: none;
}
button{
    background-color: #07c7e0;
    border: none;
    outline: none;
    color: white;
    font-size: 13px;
    padding: 7px;
    border-radius: 5px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;



}
button .readmore{
    display: flex;
    justify-content: center;
    align-items: center;
}

