*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(fitness.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    
}
.iccon{
    width: 200px;
    float: left;
    height: 70px;

}
.logo{
    color: #fff;
    font-size: 20px;
    padding-left: 1px;
    float: left;
    font-family: cursive;
    padding-top: 20px;
    cursor: pointer;
}
.logo a{
    text-decoration: none;
    color: #fff;
  }
  .logo a:hover{
      color: #00bcd4;
  
  }
.manu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 30px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
ul li a:hover{
    color: #00bcd4;
}
 .contact{
     margin-top: 130px;
     padding-left: 40%;
 }
.contactform{
    width: 37%;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 34px;
    padding-bottom: 52px;
    background: #fff;
    border-radius: 12px;

}
.contactform h2{
    color: #00bcd4;
    font-size: 30px;
    font-weight: bold;
}
.contactform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea 
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~ span
{
    color: #bdc1c2;
    font-size: 12PX;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 6px;


}
.contactform .inputBox input[type="submit"]:hover{
    background: #666;
}